/* src/components/Register.css */

/* Estilo principal para el contenedor del registro */
.register-container {
  font-family: 'Orbitron', sans-serif;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  text-align: center;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.5);
  margin: 50px auto;
}

/* Estilo para el título de registro */
h2 {
  font-size: 2.2rem;
  color: #00d4ff;
  margin-bottom: 20px;
  text-shadow: 0px 0px 6px #00d4ff, 0px 0px 10px #00d4ff, 0px 0px 20px #00d4ff;
}

/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo para los campos de texto */
form input[type="email"],
form input[type="text"],
form input[type="password"] {
  max-width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2a2a2a;
  border: 1px solid #00d4ff;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Efecto al enfocar los campos de texto */
input:focus {
  outline: none;
  box-shadow: 0px 0px 10px #00d4ff;
}

/* Estilos para los botones */
button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  font-size: 1rem;
  color: #00d4ff;
  background-color: transparent;
  border: 1px solid #00d4ff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efecto hover para los botones */
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #00d4ff;
  color: #0d0d0d;
}

/* Estilo para el párrafo de mensajes */
p {
  color: #bfbfbf;
  margin-top: 15px;
  font-size: 1rem;
}

/* Estilo para el botón de login */
button[type="button"] {
  background: none;
  border: none;
  color: #00a3cc;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Efecto hover para el botón de login */
button[type="button"]:hover {
  color: #ffffff; /* Cambia el color del texto en hover */
}
